.uclwp-section {
	display: block;
	background: #fff;
	padding: 24px 30px 28px 30px;
	box-shadow: 0px 20px 60px 0px rgb(0 0 0 / 10%);
	border-radius: 10px;
	margin-bottom: 30px;
}
.uclwp-section h2 {
	font-size: 22px;
	line-height: 30px;
	font-weight: 800;
	margin: 0 0 14px 0;
}

.uclwp-section h2:before {
	display: none;
}

.uclwp-section .listing-content p {
	line-height: 28px;
	margin: 0;
	margin-bottom: 28px;
	color: #848484;
	transition: all 500ms ease;
}

.uclwp-section p:last-child {
	margin-bottom: 0;
}

.uclwp-section .uclwp-tags {
	list-style: none;
	padding: 0;
	margin: 0;
}

.uclwp-section .uclwp-tags li {
	position: relative;
	display: inline-block;
	margin: 0 10px 0 0;
}

.uclwp-section .uclwp-tags li a {
	display: inline-block;
	font-size: 15px;
	line-height: 26px;
	color: #808080;
	border: 1px solid #e5e7ec;
	border-radius: 25px;
	padding: 8.5px 20px;
	text-decoration: none;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	text-transform: uppercase;
}

.uclwp-section .uclwp-tags li a:hover {
  color: #fff;
  box-shadow: 0px 10px 30px 0px rgba(248,92,112,0.4);
  background-color: #F97C8C;
}

.uclwp-section iframe {
	width: 100%;
}

.uclwp-section .ucl-features {
	list-style: none;
	margin: 0;
	padding: 0;
}

.uclwp-section .ucl-features li {
	position: relative;
	display: inline-block;
	float: left;
	width: 50%;
	margin: 0 0 8px 0;
	font-size: 15px;
	padding-left: 35px;
}

.uclwp-section .ucl-features li:before{
  position: absolute;
  content: "\f633";
  font-family: bootstrap-icons !important;
  font-size: 15px;
  background-color: #f85c70;
  color: #fff;
  width: 15px;
  height: 15px;
  line-height: 14px;
  text-align: center;
  border-radius: 50%;
  left: 5px;
  top: 5px;
  box-shadow: 0px 0px 0px 3px rgba(248,92,112,0.3);
}

.uclwp-section #map-canvas {
	height: 300px;
}

.section-details h2 {
	margin-bottom: 0;
}

.ucl-sending-email {
	display: none;
}

.ucl-sending-email div {
	font-size: 15px;
	line-height: 26px;
	border: 1px solid #e5e7ec;
	border-radius: 25px;
	padding: 8.5px 20px;
	margin-bottom: 20px;
}

.ucl-sending-email div i {
	color: #0ba3ca;
}

.uclwp-section .seller-info .seller-image img {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	display: block;
}

.uclwp-section .seller-info .seller-name {
	position: relative;
	font-size: 20px;
	line-height: 50px;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.seller-info .seller-contact {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.seller-info .seller-contact li {
	margin: 0;
	border: 1px solid #e5e7ec;
	border-radius: 6px;
	padding: 6.5px 6.5px 6.5px 50px;
	position: relative;
	margin-bottom: 15px;
	font-size: 14px;
}

.seller-info .seller-contact i {
	position: absolute;
	left: 15px;
	border-right: 1px solid #e5e7ec;
	padding-right: 13px;
}

.contact-seller-form .title-contact-seller {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}

.ucl-single-field .ucl-before-text, .ucl-single-field .ucl-after-text {
	color: #808288;
	font-size: 13px;
}